:root{
    --background: #F5F5F5;
    --lateral: #1E1E2D;
    --degrade: linear-gradient(180deg, rgba(92, 78, 78, 0) 0%, rgba(40, 206, 86, 0.37) 100%);
    --azul: #009EF7;
    --lightazul: #F1FAFF;
    --vermelho: #F1416C;
    --lightvermelho: #FFF5F8;
    --amarelo: #FFC700;
    --lightamarelo: #FFF8DD;
    --verde: #50CD89;
    --lightverde: #E8FFF3;
    --lightcinza: #B5B5C3;
    --cinza: #7E8299;
    --darkcinza: #3F4254;
    --darkverde: #2F7210;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
*::-webkit-scrollbar-track {
    background: #fff;        /* color of the tracking area */
    border-radius: 12px;
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--lightcinza);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #fff;  /* creates padding around scroll thumb */
}

.grid{
    display: grid;
    grid-template-columns: 2fr 10fr;
    width: 100%;
    height: 100%;
}

.principal{
    display: grid;
    grid-template-rows: auto;
}

.main{
    display: grid;
    grid-template-rows: auto;
    padding-left: 80px;
    padding-right: 80px;
    background-color: var(--background);
}
/* Barra lateral ---------------------------------------------------------- */

.lateral{
    display: flex;
    flex-direction: column;
    background-color: var(--lateral);
}

.logo  {
    text-align: center;
    padding: 12px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.sidebar a{
    text-decoration: none;
    padding-top: 7px;
    color: var(--cinza);
}

.sidebar a:hover{
    color: var(--lightcinza);
}

/* cabeçalho--------------------------------------------------------------------------- */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(82, 63, 105, 0.05);
}

.header a{
    text-decoration: none;
    font-weight: bold;
    margin: 6px;
}

.header a:hover{
    padding: 8px;
    background-color: var(--lightazul);
    color: var(--azul);
    border-radius: 8px;
    text-align: center;
    transition: all 0.5s;
}

/* página de pesquisa que eu peguei da net */
  
/* painel de controle --------------------------------------------------------------------------- */

.controle{
    display: grid;
    grid-template-rows: auto;
    margin: 22px;
}

.textos{
    padding: 12px;
}

.controlegrid{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 12px;
}

.frame1{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(82, 63, 105, 0.05);
}

.frame1 p, .frame1 i{
    color: var(--cinza);
}

.frame1:hover{
    filter: drop-shadow(10px 11px 15px rgba(76, 87, 125, 0.15));
    background-image: var(--degrade);
    transition: all 0.5s;
}

.vendas h3{
    color: var(--darkverde);
}
.ficon{
    font-size: 30px;
}

/* segunda seção ---------------------------------------------------------------- */

.bigbox1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 22px;
    margin: 22px;
}

/* carrinhos ativos -------------------------------------------------------------- */


.ativos{
    display: block;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(82, 63, 105, 0.05);
}

.ativos div{
    padding: 12px;
}

.atvicons{
    display: flex;
    margin: 6px;
    gap: 5px;
}

.icon{
    padding: 12px;
    border: dashed 1px var(--lightcinza);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon i{
    color: var(--cinza);
}

.icon:hover{
    border-bottom: solid 2px var(--azul) ;
}

.tabeladiv{
    max-height: 253px;
    overflow: auto;
}

.tabela1{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    
}

td{
    color: var(--cinza);
    font-size: small;
}
.tabela1 th{
    color: var(--cinza);
    margin: 5px;
}

.tabela1 tr{
    border-bottom: dashed 1px var(--lightcinza);
}

/* area de novidade ------------------------------------------------------------------------------- */

.novidades{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(82, 63, 105, 0.05);
}

.novidades p{
    color: var(--darkcinza);
    padding: 8px;
}

.novbotao{
    margin: 22px;
}

.btn2:hover{
    padding: 8px;
    background-color: var(--azul);
    border: none;
    border-radius: 12px;
    color: white;
    margin: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn2{
    padding: 8px;
    background-color: #5c5c5c20;
    border: none;
    border-radius: 12px;
    color: var(--cinza);
    cursor: pointer;
    margin: 8px;
}

/* seção grande 2--------------------------------------------------------------------- */

.bigbox2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 22px;
    margin: 22px;
}

/* pedidos ----------------------------------------------------------------------------- */

.pedidos{
    background-color: white;
    border-radius: 8px;
    display: block;
    box-shadow: 0px 10px 30px rgba(82, 63, 105, 0.05);
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}

.titulo span{
    color: var(--cinza);
}

.blocos{
    /* abaixo ó como colocar scroll */
    justify-content: center;
    max-height: 253px;
    overflow: auto;
}

.bloco{
    margin: 18px;
    border: dashed 1px var(--lightcinza);
    border-radius: 8px;
    display: grid;
    grid-template-rows: auto;
}



.bloco div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.bloco button{
    border: none;
    padding: 4px;
    background-color: #5c5c5c20; 
    border-radius: 3px;
}

.pago{
    font-size: small;
    padding: 5px;
    background-color: var(--lightverde);
    color: var(--verde);
    border-radius: 4px;
    font-weight: bold;
}

.processando{
    font-size: small;
    padding: 5px;
    background-color: var(--lightamarelo);
    color: var(--amarelo);
    border-radius: 4px;
    font-weight: bold;
}

.cancelado{
    font-size: small;
    padding: 5px;
    background-color: var(--lightvermelho);
    color: var(--vermelho);
    border-radius: 4px;
    font-weight: bold;
}

.to{
    color: var(--cinza);
}

/* tabela de vendas -------------------------------------------------------------------------------- */

.tabelavendas{
    background-color: white;
    border-radius: 8px;
    padding: 18px;
}

.nome{
    color: black !important;
}

.azul{
    padding: 5px;
    background-color: var(--lightazul);
    color: var(--azul);
    border-radius: 8px;
    text-align: center;
    transition: all 0.5s;

}

/* footer ------------------------------------------------------------------------------------------*/

footer {
    padding: 12px;
}

footer p{
    font-size: small;
    color: var(--cinza);
}